<header id="header">
  <div id="logo">
    <span>{{ title }}</span>
    <span style="float: right">
        <input type="text" [(ngModel)] = "city">
        <input type="text" [(ngModel)] = "country">
        <button (click) ="loadData()">Go</button>
      </span>
    </div>
  
</header>

<div class="weatherCard" *ngIf="forecasts && forecasts.length>0">
  <div id="weatherList">
    <app-list-item *ngFor="let forecast of forecasts" 
      [isSelected]="isSelected(forecast.index)" 
      [forecast]="forecast" 
      (select)="itemSelected($event)"></app-list-item>
  </div>
  <app-detail-view id="detailArea"
    [city] = "resultCity"
    [country] = "resultCountry"
    [forecast] = "selected"></app-detail-view>
</div>

<p class="error" *ngIf="isErrorOccurred">
 {{errorMsg}}
</p>

<footer>
  <p>welcome to sunshine weather app</p>
</footer>