<header id="header">
  <p id="logo">
    {{ title }}
  </p>
</header>
<div id="weatherCard">
  <div id="weatherList">
    <ul>
      <li *ngFor="let forecast of forecasts" >
        <div class="weatherListItem">
          <p class="itemFirstRow"><span>{{ forecast.day }}</span><span style="float: right">{{ forecast.temp }}&deg;</span></p>
          <p class="itemSecondRow"><span>{{ forecast.main }}</span><span style="float: right">{{ forecast.temp_max + "&deg; / " + forecast.temp_min + "&deg;" }}</span></p>          
        <hr>
        </div>
      </li>
    </ul>
  </div>
  <div id="detailArea">
      <p>
        <span class="location">{{ city + ", " + country }}</span><br>
        <span>{{ selected.description }}</span>
      </p>
      <div class="detailContent">
      <p style="float:left">
        <span class="bigTemp">
          {{ selected.temp }}<sup>&#8451;</sup> 
        </span>
      </p>
      <p style="float: right">
        <span>pressure : {{ selected.pressure }}</span><br>
        <span>humidity : {{ selected.humidity }}</span><br>
        <span>wind : {{ selected.wind }}</span><br>
      </p>
    </div>
  </div>
</div>
<footer>
  <p>welcome to sunshine weather app</p>
</footer>

